.myBTN2 {
    background-color: #8cbf3f;
    border: 0;
    color: #000;
}

.myBTN2:hover {
    background-color: rgb(161, 209, 88) !important;
    border: 0;
    color: #000 !important;
}

h6 i:hover {
    background-color: #fff !important;
    color: #000 !important;
    opacity: 100% !important;
    cursor: default !important;
}