#carouselExampleCaptions h5 {
    text-shadow: 2px 2px 5px $black;
}

.myBTN,
.myBTN:visited {
    background-color: #bd88cc !important;
    border: 0;
    color: #fff !important;
}


.myBTN:hover {
    background-color: #dda8ea !important;
    color: #fff !important;
}